.login_container{
    height: 100vh;
    background-image: url(https://i.ibb.co/Pz6j64V/pexels-francesco-ungaro-281260-1.jpg);
    background-position: center;
    background-size: cover;
}
.form_box{
    width: 400px;
    background: #ffffff;
    padding: 40px;
}
.form_btn{
    width: 100%;
    padding: 15px;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}